#main {
   
   display: flex;
   justify-content: center;
   margin-top: 2%;
   margin-left: 9%;
}
#details{
    width: 60%;
  text-align: justify;
    height: auto;
   margin-left: 4%;
    justify-content: center;
    letter-spacing: 1px;
    margin-top: 30px;
}

#image img{
    width: 600px;
    height: 583px;
}

.addToBag {
    width: 60%;
    text-align: center;
    margin: 4%;
    height: 40px;
    padding-top: 16px;
}
.wishListp {
    width: 60%;
    height: 40px;
    text-align: center;
    margin: 4%;
    padding-top: 16px;
    border: 1px solid grey;
    margin-top: 4%;
}
/* #product_hr{
    margin-top: 4%;
    width: 94%; */

    .strikep {
        text-decoration: line-through;
        margin-right: 5px;
       
    }

    #details a {
        margin-right: 5px;
    }